# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock
.DS_Store

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/

# Dependency directories
node_modules/

# Custom adds
rawAudio.raw
timecode_foo.raw
simon TC project.aup3
simon TC project.aup3-shm
simon TC project.aup3-wal
simons test TC.wav
